<!DOCTYPE html>
<html lang="en">
<head>
	<title>CRUD News</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<a class="item">
		Home
		</a>
		<a class="item">
		All News
		</a>
		<a class="item">
		Make News
		</a>
	</div>
	